
game/cache/screens.rpyb
game/cache/pyanalysis.rpyb
game/cache/bytecode.rpyb

game/gui/bar/bottom.png
game/gui/bar/left.png
game/gui/bar/right.png
game/gui/bar/top.png
game/gui/button/check_foreground.png
game/gui/button/check_selected_foreground.png
game/gui/button/choice_hover_background.png
game/gui/button/choice_idle_background.png
game/gui/button/hover_background.png
game/gui/button/idle_background.png
game/gui/button/quick_hover_background.png
game/gui/button/quick_idle_background.png
game/gui/button/radio_foreground.png
game/gui/button/radio_selected_foreground.png
game/gui/button/slot_hover_background.png
game/gui/button/slot_idle_background.png
game/gui/overlay/confirm.png
game/gui/overlay/game_menu.png
game/gui/overlay/main_menu.png
game/gui/phone/bar/bottom.png
game/gui/phone/bar/left.png
game/gui/phone/bar/right.png
game/gui/phone/bar/top.png
game/gui/phone/button/check_foreground.png
game/gui/phone/button/check_selected_foreground.png
game/gui/phone/button/choice_hover_background.png
game/gui/phone/button/choice_idle_background.png
game/gui/phone/button/hover_background.png
game/gui/phone/button/idle_background.png
game/gui/phone/button/radio_foreground.png
game/gui/phone/button/radio_selected_foreground.png
game/gui/phone/button/slot_hover_background.png
game/gui/phone/button/slot_idle_background.png
game/gui/phone/nvl.png
game/gui/phone/overlay/game_menu.png
game/gui/phone/overlay/main_menu.png
game/gui/phone/scrollbar/horizontal_hover_bar.png
game/gui/phone/scrollbar/horizontal_hover_thumb.png
game/gui/phone/scrollbar/horizontal_idle_bar.png
game/gui/phone/scrollbar/horizontal_idle_thumb.png
game/gui/phone/scrollbar/vertical_hover_bar.png
game/gui/phone/scrollbar/vertical_hover_thumb.png
game/gui/phone/scrollbar/vertical_idle_bar.png
game/gui/phone/scrollbar/vertical_idle_thumb.png
game/gui/phone/slider/horizontal_hover_bar.png
game/gui/phone/slider/horizontal_hover_thumb.png
game/gui/phone/slider/horizontal_idle_bar.png
game/gui/phone/slider/horizontal_idle_thumb.png
game/gui/phone/slider/vertical_hover_bar.png
game/gui/phone/slider/vertical_hover_thumb.png
game/gui/phone/slider/vertical_idle_bar.png
game/gui/phone/slider/vertical_idle_thumb.png
game/gui/phone/textbox.png
game/gui/scrollbar/horizontal_hover_bar.png
game/gui/scrollbar/horizontal_hover_thumb.png
game/gui/scrollbar/horizontal_idle_bar.png
game/gui/scrollbar/horizontal_idle_thumb.png
game/gui/scrollbar/vertical_hover_bar.png
game/gui/scrollbar/vertical_hover_thumb.png
game/gui/scrollbar/vertical_idle_bar.png
game/gui/scrollbar/vertical_idle_thumb.png
game/gui/slider/horizontal_hover_bar.png
game/gui/slider/horizontal_hover_thumb.png
game/gui/slider/horizontal_idle_bar.png
game/gui/slider/horizontal_idle_thumb.png
game/gui/slider/vertical_hover_bar.png
game/gui/slider/vertical_hover_thumb.png
game/gui/slider/vertical_idle_bar.png
game/gui/slider/vertical_idle_thumb.png

game/gui/\[BWVNP\].lnk
game/gui/frame.png
game/gui/game_menu.png
game/gui/namebox.png
game/gui/notify.png
game/gui/nvl.png
game/gui/skip.png
game/gui/textbox.png

game/images/\[BWVNP\].lnk
game/images/filename.ogv
game/images/BG far.png
game/images/BG near.png
game/images/BG near2.png
game/images/BG skyTall.png
game/images/movie_waves.ogv
game/images/BWVNP - Shortcut.lnk

game/saves/navigation.json
game/saves/persistent

game/tl/None/common.rpym
game/tl/None/common.rpymc

game/gui.rpyc
game/options.rpyc
game/screens.rpyc
game/script.rpyc

extract_00preferences.rpy
\[CC Native WIP\].lnk
errors.txt
log.txt
traceback.txt
*.save
